@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f !important;
}

#welcomePage {
  text-align: center;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

input[type="text"] {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
  margin-right: 0.7rem;
}

#quizPage {
  text-align: center;
  margin-top: 50px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#resultPage {
  text-align: center;
  margin-top: 50px;
  color: white;
}